body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    min-height: 100vh;
    padding-top: 72px;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

a:hover {
    text-decoration: none;
}

#header {
    background: rgb(52, 0, 119);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header .container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#header .nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#header .nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .nav-menu ul li {
    margin: 0 10px;
}

#header .nav-menu a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s;
}

#header .nav-menu a:hover {
    color: rgba(255, 255, 255, 1);
}

#header .nav-menu button {
    margin-left: 15px;
}

#header .logo {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#header .logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cart-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cart-button img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.cart-button:hover {
    transform: scale(1.1);
}

.username {
    color: white;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.btn-outline-danger,
.btn-outline-primary,
.btn-outline-success {
    border-width: 2px;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container .carimg {
    width: 100%;
    height: 100%;
}

.card {
    width: 140px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s ease-out;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1em;
    margin-bottom: 5px;
    color: white;
}

.card-price {
    font-size: 0.9em;
    color: #990202;
    margin-bottom: 5px;
}

.card-description {
    font-size: 0.8em;
    color: #3d0000;
    margin-bottom: 10px;
    flex-grow: 1;
}

.card-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

body h1 {
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.list-group-item img {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.list-group-item span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-registration,
.container-login,
.container-add-comic {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-container,
.container-register,
.add-comic-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2,
.container-register h2,
.add-comic-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.login-container form,
.container-register form,
.add-comic-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input[type="text"],
.login-container form input[type="password"],
.container-register form input[type="text"],
.container-register form input[type="password"],
.add-comic-container form input[type="text"],
.add-comic-container form input[type="password"],
.add-comic-container form textarea,
.add-comic-container form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.add-comic-container form textarea {
    resize: vertical;
}

.add-comic-container form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.add-comic-container form button:hover {
    background-color: #0056b3;
}

.login-container p,
.container-register p {
    text-align: center;
    margin-top: 10px;
}

.login-container p a,
.container-register p a {
    color: #007bff;
    text-decoration: none;
}

.login-container p a:hover,
.container-register p a:hover {
    text-decoration: underline;
}

.container-carrito {
    padding-top: 12vh;
    color: white;
    text-decoration: none;
}

#conteItemsCarrusel {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.itemCarrusel {
    height: 500px;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
}

.itemCarrusel.active {
    opacity: 1;
    transform: translateX(0);
}

.tarjetaCarrusel {
    height: 100%;
}

#tarjetaCarrusel-1 {
    background: url('../img/carrusel.jpg') center center/cover fixed;
    width: 100%;
    height: 100vh;
}

#tarjetaCarrusel-2 {
    background: url('../img/carrusel2.jpg') center center/cover fixed;
    width: 100%;
    height: 100vh;
}

#tarjetaCarrusel-3 {
    background: url('../img/carrusel3.jpg') center center/cover fixed;
    width: 100%;
    height: 100vh;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    pointer-events: none;
}

.flechasCarrusel i {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    pointer-events: all;
}

#contePuntos {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#contePuntos > a {
    font-size: 1.4em;
    font-style: normal;
    margin: 0 5px;
    cursor: pointer;
    color: white;
}

#contePuntos > a:before {
    content: "●";
}

@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    #header .logo {
        font-size: 24px;
    }

    .cart-button {
        width: 35px;
        height: 35px;
    }

    #header .nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #header .nav-menu ul li {
        margin: 5px 0;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    #header .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    #header .nav-menu ul li {
        margin: 5px 0;
    }

    .container-registration,
    .container-carrito {
        padding-top: 80px;
    }

    .cart-button {
        width: 30px;
        height: 30px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    #header .logo {
        font-size: 20px;
    }

    .cart-button {
        width: 25px;
        height: 25px;
    }
}

.conteiner-detalles {
    width: 800px; 
    height: auto; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #0f0e69; 
    color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.conteiner-detalles img {
    width: 50%; 
    height: auto; 
    border-radius: 8px;
    object-fit: cover; 
}

.conteiner-detalles-descripcion {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    flex: 1; 
}

.conteiner-detalles h1 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 10px;
}

.conteiner-detalles-descripcion .price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.conteiner-detalles-descripcion .content {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #777;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: auto; 
}

.button-container .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-container .btn:hover {
    background-color: #218838;
}
